// Colors

$main-color: #f7efe9;
$block-color: #FFF9F2;
$line-color: rgba(48, 48, 48, 0.10);
$accent-color: #D7551C;
$accent-color-opacity: #E6A180;
$transparent: transparent;
$white: #FFFDFB;
$black: #303030;
$black-opacity: rgba(48, 48, 48, 0.5);

